extends layout

block content
  .pageTitle
    | Video Stream Example
  .form
    .description    
      |  Provide a stream URL and click submit.
    .inputs
      form(method="POST", action="/video", class="frmVideo", id="frmVideo")
        .videoDiv
          input(type="text", class="videoFile", id="txtVideoUrl", name="txtVideoUrl", placeholder="Video Url (Image Snapshot)", value="#{!videoUrl ? '' : videoUrl}")
        .upload-file
          input(type="button", value="SUBMIT", class="videoButton" ).submit-video-button
          input(type="button", value="RESET VIDEO", class="resetVideoButton").reset-video-button  
        .options(style="padding-top:65px")
            select(name="algorithm")
                if (algorithm === 0)
                    option(value=0, name="algorithm", selected) Moving Object
                else 
                    option(value=0, name="algorithm") Moving Object
                    
                if (algorithm === 1)
                    option(value=1, name="algorithm", selected) Pedestrian
                else
                    option(value=1, name="algorithm") Pedestrian 
                    
                if (algorithm === 2)              
                    option(value=2, name="algorithm", selected) Pedestrian & Head and Shoulder
                else
                    option(value=2, name="algorithm") Pedestrian & Head and Shoulds
                
                if (algorithm ===4)            
                    option(value=4, name="algorithm", selected) Pedestrian Tracking
                else
                    option(value=4, name="algorithm") Pedestrian Tracking
                           
                // if (algorithm === 4)                
                //     option(value=4, name="algorithm", selected) Pedestrian & Moving Object
                // else  
                //     option(value=4, name="algorithm") Pedestrian & Moving Object
                         
    .error
        | #{error}
       input(type="hidden", value="#{isError}")         
  if (results) 
    .image
      - var placeholder = "/images/placeholder.jpg";
      input(type="hidden", id="hidVidoeImageUrl", value="#{videoImageUrl}")
      img(src="#{!videoImageUrl ? placeholder : videoImageUrl }", id="rtVideo")
